{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">Posted on {{ dateFormat ":date_medium" .Date }}, {{ .WordCount }} words, {{ .ReadingTime }} minutes to read {{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>TL;DR:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		{{ if isset .Params "toc" }}
		<div class="toc">
		<strong>Table of contents:</strong>
		{{ .TableOfContents }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
		{{- $.Scratch.Set "isDisqus" true -}}
		<!-- Check if disqus short name is given -->
		{{ if not .Site.Config.Services.Disqus.Shortname }}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}
	</article>
	<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support me', '#3c2642', 'Z8Z556EIM');kofiwidget2.draw();</script> 

	<script src="https://utteranc.es/client.js"
        repo="aottr/blog"
        issue-term="title"
        label="comment"
        theme="github-dark"
        crossorigin="anonymous"
        async>
	</script>
</main>
{{ end }}
